{% extends 'base/base.html' %}
{% load core_extra %}
{% block title %}
    拜訪紀錄
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-12 col-">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'Index' %}">首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">拜訪紀錄</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <h1 class="my-3 col">拜訪紀錄</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-12">
                <a class="btn btn-primary" href="{% url 'Callrecord_Add' %}">新增拜訪紀錄</a>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-12 mt-3">
                <h2>草稿</h2>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>日期</th>
                            <th>客戶名稱</th>
                            <th>客戶等級</th>
                            <th>客戶參與人</th>
                            <th>接洽形式</th>
                            <th>拜訪結果概要</th>
                            <th>下次拜訪時間</th>
                            <th>負責人</th>
                            <th>動作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in records_draft %}
                        <tr>
                            <td class="text-center"><strong>{{ forloop.counter }}</strong></td>
                            <td><a href="{% url 'Callrecord_Detail' record.id %}">{{ record.calldate|date:'Y-m-d'}}</a></td>
                            <td>{{ record.company.shortname }}</td>
                            <td>{{ record.company.rank }}</td>
                            <td>{{ record|firstparti }}</td>
                            <td>{{ record.calltype }}</td>
                            <td>{{ record.summary }}</td>
                            <td>{{ record.nextdate|date:'Y-m-d' }}</td>
                            <td>{{ record.author.username }}</td>
                            <td><a href="{% url 'Callrecord_Update' record.id %}" class="btn btn-sm btn-primary">編輯</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="col-12 mt-3">
                <h2>拜訪紀錄一覽</h2>
            </div>
            <div class="col-12">
                <div class="input-group my-3">
                    <span class="input-group-text">快速搜尋</span>
                    <input type="text" class="form-control" placeholder="輸入關鍵字..." aria-label="Search" aria-describedby="search-addon">
                </div>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>日期</th>
                            <th>客戶名稱</th>
                            <th>客戶等級</th>
                            <th>客戶參與人</th>
                            <th>接洽形式</th>
                            <th>拜訪結果概要</th>
                            <th>下次拜訪時間</th>
                            <th>負責人</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in records_cmplt %}
                        <tr>
                            <td class="text-center"><strong>{{ forloop.counter }}</strong></td>
                            <td><a href="{% url 'Callrecord_Detail' record.id %}">{{ record.calldate|date:'Y-m-d'}}</a></td>
                            <td>{{ record.company.shortname }}</td>
                            <td>{{ record.company.rank }}</td>
                            <td>{{ record|firstparti }}</td>
                            <td>{{ record.calltype }}</td>
                            <td>{{ record.summary }}</td>
                            <td>{{ record.nextdate|date:'Y-m-d' }}</td>
                            <td>{{ record.author.username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}