{% extends 'base/base.html' %}
{% load core_extra %}
{% block title %}
    客戶一覽
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-12 col-">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'Index' %}">首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">客戶一覽</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <h1 class="my-3 col">客戶一覽</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-12">
                <a class="btn btn-primary" href="{% url 'Custom_Add' %}">新增客戶</a>
                <a class="btn btn-primary" href="{% url 'Custom_import' %}">匯入客戶</a>
            </div>
            {% endif %}
            <div class="col-12">
                <div class="input-group my-3">
                    <span class="input-group-text">快速搜尋</span>
                    <input type="text" class="form-control" placeholder="輸入關鍵字..." aria-label="Search" aria-describedby="search-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>客戶簡稱</th>
                            <th>客戶等級</th>
                            <th>產業別</th>
                            <th class="text-end">需求量(度/年)</th>
                            <th class="text-end">報價(元/度)</th>
                            <th class="text-end">合約(年)</th>
                            <th>詢問狀態</th>
                            <th>負責人</th>
                            <th>最後連絡</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td class="text-center"><strong>{{ forloop.counter }}</strong></td>
                            <td><a href="{% url 'Custom_Detail' company.id %}">{{ company.shortname }}</a></td>
                            <td>{{ company.rank }}</td>
                            <td>{{ company.category }}</td>
                            <td class="text-end">{{ company.pwr_inquire }}</td>
                            <td class="text-end">{{ company.unit_price }}</td>
                            <td class="text-end">{{ company.duration }}</td>
                            <td>{{ company.status }}</td>
                            <td>{{ company.sponsor }}</td>
                            <td>{{ company.callrecords.last.calldate|datedelta }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
