{% extends 'base/base.html' %}
{% block title %}客戶資料 - {{ company.fullname }}{% endblock %}
{% load core_extra %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'Index' %}">首頁</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'Custom_Index' %}">客戶一覽</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ company.shortname }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-">
                <h1 class="mt-3">{{ company.fullname }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <small>負責人：{{ company.sponsor.username }}, 客戶狀態：{{ company.status|default_if_none:'無' }}, 上次拜訪時間：{{ company.callrecords.last.calldate|datedelta }}</small>
            </div>
            <div class="col-sm-6 text-end">
                <small class="">更新時間：{{ company.update_time|date:"Y-m-d H:i" }}, 新增時間：{{ company.add_time|date:"Y-m-d H:i" }}</small>
            </div>
            {% if request.user.id == company.author.id %}
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <a class="btn btn-primary mt-3" href="{% url 'Custom_Update' company.id %}">編輯</a>
                    </div>
                    <div class="col-4 text-end">
                        <button type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                    刪除
                </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row mt-3 ">
            <div class="col-12">
                <h2>詳細資料</h2>
            </div>
        </div>
        <div class="row gy-3">
            <div class="col-2">
                公司名稱︰
            </div>
            <div class="col-6">
                <strong>{{ company.fullname }}</strong>
            </div>
            <div class="col-2">
                公司簡稱︰
            </div>
            <div class="col-2">
                <strong>{{ company.shortname }}</strong>
            </div>
            <div class="col-2">
                統一編號︰
            </div>
            <div class="col-2">
                <strong>{{ company.sn }}</strong>
            </div>
            <div class="col-2">
                上市代碼︰
            </div>
            <div class="col-2">
                <strong>{{ company.stock_id|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                產業別︰
            </div>
            <div class="col-2">
                <strong>{{ company.category|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                客戶等級︰
            </div>
            <div class="col-2">
                <strong>{{ company.rank|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                客戶來源︰
            </div>
            <div class="col-6">
                <strong>{{ company.source|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                公司地址︰
            </div>
            <div class="col-10">
                <strong>{{ company.addr_county.name|default_if_none:''  }}{{ company.addr_detail|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                公司網站：
            </div>
            <div class="col-10">
                <strong>{% if company.website %}<a href="http://{{ company.website }}">{{ company.website }}</a>{% endif %}</strong>
            </div>
            <div class="col-2">
                主要聯絡人：
            </div>
            <div class="col-2">
                <strong>{{ company.contact_name|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                職稱：
            </div>
            <div class="col-2">
                <strong>{{ company.contact_title|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                聯絡電話：
            </div>
            <div class="col-2">
                <strong>{{ company.contact_tel|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                聯絡信箱：
            </div>
            <div class="col-10">
                <strong>{{ company.contact_email|default_if_none:'' }}</strong>
            </div>
            <div class="col-2">
                CSR/ESG 報告：
            </div>
            <div class="col-10">
                {% if company.report %}
                <strong><a href="{{ company.report.url }}">{{ company.report|filename }}</a></strong>
                {% endif %}
            </div>
            <div class="col-2">
                備註：
            </div>
            <div class="col-10">
                <strong>{{ company.remark|default_if_none:'' }}</strong>
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-12">
                <h2>購電資訊</h2>
            </div>
        </div>
        <div class="row gy-3">
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        年用電量：
                    </div>
                    <div class="col-6">
                        <strong>{{ company.pwr_usage|default_if_none:'-' }} 度／年</strong>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        需求量：
                    </div>
                    <div class="col-6">
                        <strong>{{ company.pwr_inquire|default_if_none:'-' }} 度／年</strong>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        報價：
                    </div>
                    <div class="col-6">
                        <strong>{{ company.unit_price|default_if_none:'-' }} 元／度</strong>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        合約年限：
                    </div>
                    <div class="col-6">
                        <strong>{{ company.duration }} 年</strong>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        重要日期：
                    </div>
                    <div class="col-6">
                        <strong>{{ company.warn_date|date:'Y年m月d日' }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3" id="records">
            <div class="col-12">
                <h2>拜訪紀錄</h2>
            </div>
            <div class="col-8">
                {% if user.is_authenticated and user.id == company.sponsor.id %}
                    {% if company.is_draft %}
                    <a class="btn btn-primary" href="{% url 'Custtom_First' company.id %}">新增初次拜訪紀錄</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'Callrecord_Add' %}?id_comp={{ company.id }}">新增拜訪紀錄</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end mb-0"></ul>
                </nav>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>日期</th>
                            <th>接洽形式</th>
                            <th>拜訪結果概要</th>
                            <th>下次拜訪時間</th>
                            <th>負責人</th>
                        </tr>
                    </thead>
                    <tbody class="list">

                    {% for record in records%}
                        <tr>
                            <td class="text-center"><strong>{{ forloop.counter }}</strong></td>
                            <td><a href="{% url 'Callrecord_Detail' record.id %}">{{ record.calldate|date:'Y-m-d'}}</a></td>
                            <td>{{ record.calltype }}</td>
                            <td>{{ record.summary }}</td>
                            <td>{{ record.nextdate|date:'Y-m-d' }}</td>
                            <td>{{ record.author|id_fullname }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">
                                目前沒有拜訪資料
                                {% if user.is_authenticated and user.id == company.sponsor.id %}
                                    ，新增「<a href="{% url 'Custtom_First' company.id %}">初次拜訪紀錄</a>」
                                {% endif %}。
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- check box -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確定刪除 {{ company.sn }} - {{ company.shortname }} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                            <div class="mb-3">
                                <p>確定是否刪除？</p>
                                <p>客戶統編： <span class="text-primary"><strong>{{ company.sn }}</strong></span></p>
                                <p>客戶名稱： <span class="text-primary"><strong>{{ company.fullname }}</strong></span></p>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <a class="btn btn-danger" href="{% url 'Custom_Delete' company.id %}">確定刪除</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>
      var options = {
        page: 20,
        pagination: [{
            name: "pagination",
            paginationClass: "pagination",
            innerWindow: 1,
            outerWindow: 1,
            item: "<li class='page-item'><a class='page-link page' href='javascript:function Z(){Z=\"\"}Z()'></a></li>",
        }],
      };

      /*table = id of the div */
      var customList = new List('records', options);
    </script>
{% endblock %}